@{
    ViewBag.Title = "Home";
    ViewBag.Header = "Welcome to the World's Premier Online Book Store";
}

@model BookListViewModel

@*Table with bootstrap styling to display the database contents*@
<div class="row">
    @foreach (var b in Model.Books)@*Iterates through data in database and displays it in the table*@
    {

        <div class="col-6">
            <partial name="BookSummary" model="b" />
        </div>
    }
</div>

@*tag helper used to dynamically show the correct number of pages and create the buttons for them*@
<div class="text-center">
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"
         page-url-category="Model.CurrentCategory"></div>
</div>
