@*Partial view to send to the shared layout with the dynamically updated menu of categories*@

@model IEnumerable<string>

<a class="btn btn-block @(ViewBag.SelectedType is null ? "btn-primary" : "btn-outline-secondary")" asp-action="Index" asp-controller="Home"
   asp-route-category="">
    @*Razor code checks to see if a category has been selected, if none has, highlight the home button*@
    Home
</a>

@foreach (string category in Model) @*Loop displays all of the categories in the database*@
{
    <a class="btn btn-block @(category == ViewBag.SelectedType ? "btn-primary" : "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home"
       asp-route-category="@category"
       asp-route-pageNum="1">
        @category
    </a>@*Razor code highlights the selected category but none of the others*@
}
